# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
static_collected/

# Virtual Environment
.env
venv/
env/

# IDE and Editor files
.idea/  # PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Test and coverage files
.coverage
.tox/
.eggs/